/* @import url("https://fonts.googleapis.com/css2?family=inter:wght@100;200;300;400;500;600;700;800;900&family=lexend:wght@100;200;300;400;500;600;700;800;900&display-swap"); */
:root {
	--font-base: "lexend", sans-serif;
	--font-second-base: "Inter", sans-serif;
	--big-color: #111;
	--color-primary: #ffffff;
	--color-secondary: #e50914;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #111;
}
